
body {
  background-color: #080808;
  font-family: sans-serif;

}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  font-size: 30px;
  text-align: center;
  color: white;
}

